@import "variables";
/* COMIENZO CSS TIENDAS */  
.main-grid-tienda {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'equipo' 'secciones' 'cursos';
}
.equipo {
    grid-area: equipo;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 1.3rem;
        padding: 1.2rem 0rem 1.2rem .2rem;
        color: $color-texto-llama;
    }
    &__lista{
        ul {
            display: flex;
            height: auto;
            justify-content: space-evenly;
            li {
                width: 8rem;
                height: 2rem;
                border: 2px solid #023047;
                border-radius: .4rem;
                background-color: #e99f17;
                text-align: center;
                list-style: none;
                height: 2rem;
                transition: all .7s;
                a {
                    text-decoration: none;
                    color: #050505;
                    font-size: 1rem;
                    align-content: center;   
                }               
                &:hover{
                    background-color: #d4d803;
                    transform: scale(1.2);
                }
            }
        }
        
    }
}
.secciones {
    grid-area: secciones;
    display: flex;
    flex-direction: column;
    padding: .8rem 0rem;
    &__producto{
        border-top: 1px solid #050505;
        padding-bottom: 1rem;
    }
}
.tarjetas-reel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    background-color: map-get($tarjetas, col-cuerpo);
    margin-top: .5rem;
    &-img-top{
        height: 15rem;
    }
    &-body{
        h5{
            color: map-get($tarjetas, col-cuerpo-tit-font);
        }
        p{
            color: map-get($tarjetas, col-cuerpo-tex-font);
        }
    }
}
.btn-primary {
    color: map-get($tarjetas, col-boton-font);
    background-color: map-get($tarjetas, col-boton);
    border-color: map-get($tarjetas, col-borde);  
}
.cursos {
    background-color: $color-secciones;
    padding-left: $si-padd;
    span{
        color: $color-texto-llama;
    }
}
/* INICIO MEDIA QUERY TIENDA*/
@media screen and (max-width: 550px) {
    .equipo__lista {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10rem;
            li {
                width: 8rem;
                height: 2rem;
                padding-bottom: 1rem;
            } 
        }
    } 
}
@media screen and (max-width: 320px) {
    .secciones__producto h3 {
        font-size: 1.3rem;
        color: $color-texto-llama;
    }
}
/* FIN CSS TIENDAS */