$color-body: #35879b;
$color-secciones: rgb(16, 131, 160);
$color-principal:#e99f17;
$color-headernav : linear-gradient(to top, #e99f17,#eaee1a );
$color-texto-llama : rgb(240, 235, 235);
$color-agua-titu: #1bbad6;
$si-padd : .2rem;
$col-grilla-base:#d6d2d2;
$col-grilla-font:#000000;


$tarjetas:(
    "col-borde":#0c0c0c,
    "col-cuerpo": #589e9e,
    "col-cuerpo-tit-font": #0c0c0c,
    "col-cuerpo-tex-font": #0c0c0c,
    "col-boton":#e99f17,
    "col-boton-font":#0c0c0c,
);


%boton{
    width: 12rem;
    height: 3rem;
    border:  .15rem solid #023047;
    background-color: #e99f17;
    border-radius: 1.4rem;
    text-align: center;
    line-height: 3rem;
    align-self: center;
    min-width: 7rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .7s;
    @media screen and (max-width: 500px) {
        width: 7rem;
        height: 2rem;
        padding-bottom: 1rem;
        line-height: 2rem;
    } 
}
%colcent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
%cabecera{
    background-image: $color-headernav;
    font-size: 4rem;
    text-align: center;
    letter-spacing: .3rem;
    font-family: 'Pirata One', cursive;
    @media screen and (max-width: 650px) {
        text-align:start;
        padding-left: .3rem; 
    }
    @media screen and (max-width: 500px) {
        font-size: 2.5rem; 
    }
    @media screen and (max-width: 400px) {
        font-size: 2rem;
    }
}


@mixin formulario ($col-grilla,$colo-font,$col-boton) {
    .input-group{
        width: 60vh;
        padding: .5rem 0;
        &-text{
            width: 5rem;
            background-color: $col-grilla;
            color: $colo-font;
        } 
        & .btn-primary{
            background-color: $col-boton;
            }
    }
}