$color-body: #35879b;
$color-secciones: rgb(16, 131, 160);
$color-headernav : linear-gradient(to top, #e99f17,#eaee1a );
$color-texto-llama : rgb(240, 235, 235);
$color-agua-titu: #1bbad6;
$si-padd : .2rem;