*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    background-color: #219ebc;
}
header{
    background-color: black;
    height: 150px;
    width: 100%;
}

.cabecera{
    height: 100px;
    width: 100%;
    background-color: #e99f17;
    align-items: center;
    
}
.cabecera img{
    height: 100px;
    width: 100px;
}
.cabecera h1{
    height: 100px;
    width: 400px;
    display: inline-block;
    padding-left: 400px;
    font-size: 60px;   
}
header nav{
    color: aliceblue;
}
header nav ul{
    height: 60px;
    background-color: #023047;
    line-height: 60px;
}
header nav ul li{
    display: inline-block;
    padding-left: 120px;
    text-align: center;
}
.navegador{
    text-decoration: none;
    color: aliceblue;
}

.equipo{
    width: 100%;
    height: 130px;
}
.equipo h2{
    font-size: 30px;
    padding: 20px 0px 20px 0px;

}
.equipo ul li{
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-left: 80px;
}
.equipo ul li button{
    width: 150px;
    height: 40px;
    background-color: #e99f17;
    border-radius: 6px;   
}

.secciones{
    width: 100%;
    height: 400px;
    
}
.secciones h3{
    width: 100%;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    background-color: #023047;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    color: aliceblue;
    border: 1px solid #e99f17;
}
.secciones div{
    display: inline;
    
}
.secciones img{
    width: 445px;
    height: 300px;
    margin: auto; 
}
.cursos{
    width: 100%;
    height: 80px;
}
.cursos h3{
    font-size: 25px;
    padding: 10px 0 5px 8px;
}
.cursos p{
    padding: 20px 0 5px 8px;
    font-size: 18px; 
}
.cursos p span{
    color: aliceblue;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #e99f17;
    display: inline-block;
    color:rgb(15, 17, 19);
    font-size: 18px;
}
footer ul{
    display: inline;
    
}
footer ul li{
    display: inline-block;
    padding-left: 20px;
    background-color: #e99f17;
}
footer h5{
    display: inline;
    padding-left: 650px;
}
.logo-redes{
    height: 40px;
    width: 40px;
    padding-top: 15px;
}










