* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    background-color: #219ebc;
}

header {
    background-color: black;
    height: 150px;
    width: 100%;
}

.cabecera {
    height: 100px;
    width: 100%;
    background-color: #e99f17;
    align-items: center;
}

.cabecera img {
    height: 100px;
    width: 100px;
}

.cabecera h1 {
    height: 100px;
    width: 400px;
    display: inline-block;
    padding-left: 400px;
    font-size: 60px;
}

header nav {
    color: aliceblue;
}

header nav ul {
    height: 60px;
    background-color: #023047;
    line-height: 60px;
}

header nav ul li {
    display: inline-block;
    padding-left: 120px;
    text-align: center;
}

.navegador {
    text-decoration: none;
    color: aliceblue;
}

.contacto {
    width: 1200px;
    height: 600px;
    background-image: url(../img/Salto-Dorado2.jpg);
    margin: 0 auto;
    color: aliceblue;
    font-size: 20px;
    border: 2px solid #e99f17;
    border-radius: 8px;
}

.comentarios {
    width: 100%;
    height: 185px;
}

.comentarios h2 {
    margin: 5px 0 5px 0;
}

.comentarios div h4 {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.comentarios input {
    width: 100px;
    height: 25px;
}

.comentarios textarea {
    width: 250px;
    height: 100px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #e99f17;
    display: inline-block;
    color: rgb(15, 17, 19);
    font-size: 18px;
}

footer ul {
    display: inline;
}

footer ul li {
    display: inline-block;
    padding-left: 20px;
    background-color: #e99f17;
}

footer h5 {
    display: inline;
    padding-left: 650px;
}

.logo-redes {
    height: 40px;
    width: 40px;
    padding-top: 15px;
}