* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    background-color: #35879b;
}


/* CABECERA CON NAV*/

header {
    width: 100%;
    height: 8rem;
    background-color: #023047;
}

.cabecera {
    height: 5rem;
    background-color: black;
    display: flex;
}

.cabecera img {
    height: 5rem;
}

.cabecera h1 {
    width: 100%;
    /*background-color: #e99f17;*/
    background-image: linear-gradient(to top, #e99f17,#eaee1a );
    font-size: 4rem;
    text-align: center;
    text-align: 5rem;
    letter-spacing: .3rem;
    font-family: 'Pirata One', cursive;
}
.tituloMarea h1 {
    position: absolute;
    width: calc(100% - 5rem);
}

.tituloA {
    color: #1a0505;
    text-shadow: -.1rem -1rem 0 white, .1rem -1rem 0 white, .1rem 1rem 0 white, -.1rem 1rem 0 white, ;
}

.tituloB {
    color: #1bbad6;
    animation: ola 3s ease-in-out infinite;
}

@keyframes ola {
    0%,
    100% {
        clip-path: polygon( 0% 5%, 10% 40%, 33% 55%, 54% 55%, 70% 60%, 84% 55%, 100% 66%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon( 0% 33%, 10% 66%, 33% 68%, 54% 70%, 70% 60%, 84% 45%, 100% 50%, 100% 100%, 0% 100%);
    }
}

header nav {
    height: 3rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav li {
    list-style: none;
    line-height: 3rem;
}

header a {
    color: rgb(216, 233, 221);
    text-decoration: none;
    border-bottom: #dfa63d 1px solid;
}


/* FOOTER */

footer {
    height: 4rem;
    background-image: linear-gradient(to top, #e99f17,#eaee1a );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}

footer ul li {
    list-style: none;
    padding-left: 1rem;
}

footerul ul li {
    background-color: #e99f17;
}

footer h5 {
    font-size: .7rem;
    text-align: center;
    line-height: 4rem;
}

.logo-redes {
    height: 2.5rem;
    width: 2.5rem;
    padding-top: 1rem;
    align-content: center;
}


/* FIN FOOTER */


/* COMIENZO CSS INDEX */

.presentacion {
    height: 8rem;
}

.presentacion h2 {
    font-size: 2rem;
    padding-bottom: .8rem;
    padding-left: .2rem;
}

.presentacion p {
    font-size: 1rem;
    padding-left: .2rem;
}

.nuestra-pesca {
    color: rgb(216, 233, 221);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(16, 131, 160);
}

.nuestra-pesca__salida {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.nuestra-pesca__salida img {
    image-rendering: optimizeQuality;
    height: 100%;
    border: .1rem solid #023047;
    border-radius: .3rem;
    box-sizing: border-box;
}
.normas {
    display: flex;
    flex-direction: row;
    padding-top: 1.4rem;
    padding-bottom: 2rem;
    justify-content: flex-start;
    position: relative;
}

.normas h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: .2rem;
}

.normas p {
    max-width: 70%;
    padding-bottom: .4rem;
    padding-left: .2rem;
}

.normas a {
    width: 22rem;
    height: 3rem;
    border: #023047 .15rem solid;
    background-color: #e99f17;
    border-radius: 1.4rem;
    text-align: center;
    line-height: 3rem;
    align-self: center;
    margin-right: 8rem;
    min-width: 15rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 2s;
}
.normas a:hover{
    background-color: #eaee1a;
    color: #050505;
    transform: scale(1.1);
}

.permisos {
    display: flex;
    flex-direction: row;
    height: 14rem;
    justify-content: space-around;
}

.permisos iframe {
    width: 30rem;
    min-width: 15rem;
    border-radius: 1.4rem;
    border: .2rem solid #023047;
}

.permisos__solicitud {
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
    /* para separar en eje Y*/
}

.permisos__solicitud a {
    width: 14rem;
    height: 3rem;
    border: .15rem solid #023047;
    background-color: #e99f17;
    border-radius: 1.4rem;
    text-align: center;
    line-height: 3rem;
    align-content: space-around;
    min-width: 7rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 2s;
}
.permisos__solicitud a:hover{
    background-color: #dadd2b;
    color: #050505;
    transform: scale(1.1);
}

.capturas {
    background-color: rgb(16, 131, 160);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.capturas h3 {
    font-size: 1.3rem;
    color: aliceblue;
    padding: 1rem 0rem 1rem .2rem;
    margin-top: 1rem;
}

.capturas__img {
    display: grid;
    width: 95%;
    grid-template-columns: 30% auto 40%;
    gap: .2rem;
    margin: .3rem auto;
}


.capturas__img img {
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    border: .1rem solid rgb(153, 126, 51);
    transition: all 1.2s;
}
.capturas__img img:hover {
    border: .4rem solid rgb(245, 198, 46);
    box-sizing: border-box;
    
}

.imagen1 {
    grid-column: 1/4;
}

.imagen2 {
    grid-column: 1/3;
}

.imagen4 {
    grid-column: 1/4;
}


/* FIN CSS INDEX */


/* COMIENZO CSS QUIENES SOMOS */

.grid-quienes {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'nosotros' 'vista' 'ubicacion';
}

.nosotros {
    grid-area: nosotros;
    padding: .2rem 0rem 1rem .2rem;
}

.nosotros h2 {
    font-size: 1.5rem;
    padding: .6rem 0rem .2rem .2rem;
}

.nosotros p {
    font-size: 1rem;
    padding-left: .2rem;
}

.nosotros span {
    color: rgb(250, 249, 249);
}

.vista {
    grid-area: vista;
    background-color: rgb(16, 131, 160);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: .7rem;
    padding-top: .7rem;
}

.vista img {
    max-width: 32%;
    border: 2px solid #023047;
    border-radius: .3rem;
    margin-bottom: .5rem;
}

.ubicacion {
    grid-area: ubicacion;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: .8rem;
}

.ubicacion__local {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ubicacion__local h4 {
    font-size: 1.8rem;
    color: #f5f5f5;
}

.ubicacion__local p {
    font-size: 1.3rem;
    color: #f5f5f5;
}

.ubicacion iframe {
    border: 2px solid #023047;
    border-radius: .3rem;
}


/* FIN CSS QUIENES SOMOS */


/* COMIENZO CSS EXCURSIONES */

.locaciones {
    background-color: rgb(16, 131, 160);
}

.locaciones h2 {
    font-size: 1rem;
    padding-left: .2rem;
    padding-bottom: .5rem;
}

.locaciones ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.locaciones li {
    list-style: none;
}

.locaciones a {
    text-decoration: none;
    transition: all .5s;
    color: #eceaea;
}
.locaciones a:hover{
    
    color: #eebc18;
    transform: scale(1.1);
}

.galeria-locaciones h3 {
    font-size: 1.3rem;
    padding-left: .8rem;
}

.galeria-locaciones h4 {
    margin-bottom: 1rem;
    padding-left: .8rem;
    margin-top: .2rem;
}

.fotos-locaciones {
    display: grid;
    width: 90%;
    grid-template-columns: 30% auto 40%;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    margin: .1rem auto;
    background-color: #023047;
}

.fotos-locaciones img {
    width: 100%;
    height: 100%;
    border: .08rem solid rgb(153, 126, 51);
    max-height: 25rem;
}

.goya1 {
    grid-column: 1/3;
}

.goya3 {
    grid-column-start: span 3;
    max-height: 25rem;
}

.goya4 {
    grid-column: 1/3;
}

.paso1 {
    grid-column-start: span 2;
}

.paso3 {
    grid-column: 1/3;
}

.paso6 {
    grid-column: span 2;
}

.clemente1 {
    grid-column: span 2;
}

.clemente4 {
    grid-column: span 2;
}

.formulario h2 {
    font-size: 1.5rem;
    padding-left: .3rem;
    padding-bottom: .5rem;
}

.formulario__datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: .2rem;
}

.selec-destino {
    padding-bottom: 2rem;
    min-width: 20rem;
}

.selec-destino input {
    margin-left: 1rem;
}

.datos-personales {
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.datos-personales input {
    height: 1.4rem;
    width: auto;
    border-radius: .3rem;
    border: .1rem solid #023047;
}


/* FIN CSS EXCURSIONES */


/* COMIENZO CSS TIENDA */

.main-grid-tienda {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'equipo' 'secciones' 'cursos';
}

.equipo {
    grid-area: equipo;
    display: flex;
    flex-direction: column;
}

.equipo h2 {
    font-size: 1.3rem;
    padding: 1.2rem 0rem 1.2rem .2rem;
    color: aliceblue;
}

.equipo__lista ul {
    display: flex;
    height: auto;
    justify-content: space-evenly;
}

.equipo__lista li {
    width: 8rem;
    height: 1.3rem;
    border: 2px solid #023047;
    border-radius: .4rem;
    background-color: #e99f17;
    text-align: center;
    list-style: none;
    line-height: 1.3rem;
    transition: all 2s;
}
.equipo__lista li:hover{
    color: #050505;
    transform: scale(1.3);
}


.equipo__lista button {
    text-decoration: none;
    background-color: #e99f17;
    border: none;
}

.equipo__lista a {
    text-decoration: none;
    font-size: 1rem;
}

.secciones {
    grid-area: secciones;
    display: flex;
    flex-direction: column;
    padding: .8rem 0rem;
}

.secciones__producto {
    background-color: rgb(16, 131, 160);
    border-bottom: .3rem solid rgb(69, 124, 196);
    display: grid;
}

.secciones__producto h3 {
    padding: .4rem .2rem;
    font-family: 'Pirata One', cursive;
    letter-spacing: .2rem;
    font-size: 1.7rem;
}

.secciones__producto div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: .2rem;
}

.secciones__producto img {
    border: 2px solid #023047;
    border-radius: .4rem;
    width: 15rem;
    height: 15rem;
    border: 2px solid #023047;
    border-radius: .5rem;
}

.cursos {
    grid-area: cursos;
    background-color: rgb(16, 131, 160);
    padding-bottom: .8rem;
    padding-left: .2rem;
}


/* FIN CSS TIENDA */


/* COMIENZO CSS CONTACTO */

.main-grid-contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'contacto' 'comentarios' 'pie';
    grid-template-rows: 35vh 35vh auto;
}

.contacto {
    grid-area: contacto;
    background-image: url(../img/fondo-contacto2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.contacto div {
    color: #1a0505;
    align-items: center;
    color: #3a2d15;
    margin: 0 auto;
}

.contacto div h2 {
    text-align: center;
    padding-bottom: 7%;

}

.contacto div h4 {
    text-align: center;
}

.comentarios {
    grid-area: comentarios;
}
.comentarios h2{
    padding: .5rem 0;
}

footer {
    grid-area: pie;
}


/***** INICIO MEDIA QUERY HEADER Y FOOTER *****/

@media screen and (max-width: 768px) {
    header {
        height: 5rem;
    }
    .cabecera {
        height: 3rem;
    }
    .cabecera img {
        height: 3rem;
    }
    .cabecera h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .tituloMarea h1 {
        position: absolute;
        width: calc(100% - 3rem);
    }
    header nav {
        height: 1.8rem;
    }
    header nav li {
        line-height: 1.8rem;
    }
    header a {
        font-size: .7rem;
    }
    footer {
        height: 3rem;
    }
    footer ul li {
        list-style: none;
        line-height: 3rem;
        justify-content: center;
    }
    footer h5 {
        font-size: .7rem;
    }
    .logo-redes {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    footer h5 {
        display: none;
    }
}


/***** FIN MEDIA QUERY HEADER Y FOOTER *****/


/* INICIO MEDIA QUERY INDEX*/

@media screen and (max-width: 768px) {
    .presentacion {
        height: 6rem;
    }
    .presentacion h2 {
        font-size: 1.5rem;
        padding-bottom: .3rem;
        padding-left: .2rem;
    }
    .presentacion p {
        font-size: .8rem;
        padding-left: .2rem;
    }
    .normas {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0rem;
    }
    .normas h4 {
        font-size: 1.3rem;
        padding-bottom: .5rem;
        padding-left: .2rem;
    }
    .normas p {
        max-width: 100%;
        font-size: .8rem;
    }
    .normas a {
        width: 14rem;
        text-align: center;
        line-height: 3rem;
        align-self: center;
        margin: 0 auto;
        min-width: 7rem;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .permisos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 24rem;
    }
    .permisos__solicitud {
        padding-bottom: 1rem;
        justify-content: space-around;
    }
    .permisos__solicitud a {
        align-content: space-between;
        min-width: 7rem;
        font-size: 1.1rem;
        text-decoration: none;
    }
    .capturas h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .presentacion h2 {
        font-size: 1.3rem;
        color: #f5f5f5;
    }
    .cabecera h1 {
        font-size: 2.5rem;
    }
    .presentacion {
        height: auto;
        padding-bottom: .6rem;
    }
    .nuestra-pesca {
        flex-direction: column;
        padding-left: .3rem;
    }
    .nuestra-pesca__salida {
        width: 98.5%;
    }
    .normas {
        padding-top: 1rem;
    }
    .normas a {
        width: auto;
        height: 2rem;
        line-height: 2rem;
        align-self: center;
        margin: 0 auto;
        text-decoration: none;
        font-size: 1rem;
    }
    .permisos {
        height: auto;
        padding-top: .3rem;
    }
    .permisos__solicitud {
        height: 6rem;
    }
    .permisos__solicitud a {
        width: auto;
        height: 2rem;
        line-height: 2rem;
        align-self: center;
        margin: 0 auto;
        text-decoration: none;
        font-size: 1rem;
    }
    .permisos iframe {
        width: auto;
    }
}


/* FIN MEDIA QUERY INDEX*/


/* INICIO MEDIA QUERY QUIENES SOMOS*/

@media screen and (max-width: 550px) {
    .nosotros h2 {
        font-size: 1rem;
        color: #f5f5f5;
    }
    .nosotros p {
        font-size: .7rem;
    }
    .vista {
        padding-top: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .vista img {
        max-width: none;
        width: 90%;
    }
    .ubicacion {
        flex-direction: column;
        padding-top: 1rem;
    }
    .ubicacion iframe {
        width: 80%;
        padding-top: .8rem;
        margin: 0 auto;
    }
    .ubicacion__local h4 {
        font-size: 1.2rem;
        text-align: center;
    }
    .ubicacion__local p {
        font-size: 1rem;
        text-align: center;
    }
}


/* FIN MEDIA QUERY QUIENES SOMOS*/


/* INICIO MEDIA QUERY TIENDA*/

@media screen and (max-width: 550px) {
    .equipo h2 {
        font-size: 1.15rem;
    }
    .equipo__lista ul {
        flex-direction: column;
        align-items: center;
    }
    .equipo__lista li {
        margin: .3rem;
        width: 12rem;
    }
    .cursos h3 {
        font-size: 1rem;
        color: #f5f5f5;
    }
    .cursos p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 320px) {
    .equipo h2 {
        font-size: 1rem;
    }
    .secciones__producto h3 {
        font-size: 1.3rem;
        color: #f5f5f5;
    }
}


/* FIN MEDIA QUERY TIENDA*/


/* INICIO MEDIA QUERY EXCURSIONES*/

@media screen and (max-width: 600px) {
    .locaciones h2 {
        font-size: .8rem;
        padding-top: .3rem;
    }
    .locaciones li {
        padding-left: .3rem;
    }
    .locaciones a {
        font-size: .8rem;
    }
    .galeria-locaciones h3 {
        font-size: 1rem;
        padding-left: .3rem;
    }
    .galeria-locaciones h4 {
        font-size: .7rem;
        padding-left: .3rem;
        margin-top: .4rem;
    }
    .formulario h3 {
        font-size: 1rem;
    }
}

/* INICIO MEDIA QUERY CONTACTO*/
@media screen and (max-width: 600px) {
    .comentarios h2{
        font-size: 1.2rem;

    }
}
